POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_database_name
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password

PGADMIN_DEFAULT_EMAIL=your_admin_email
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password